<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Гарант плюс</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("img/favicon.png") }}">
    <!-- All CSS Files -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{{ asset('css/default.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!-- Icon Font -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/et-line.css') }}">
    <!-- Plugins css file -->
    <link rel="stylesheet" href="{{ asset('css/plugins.css') }}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{{asset('css/style.css') }}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- Modernizr JS -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>

<!--Corporate 1 Header Section-->
<div class="header-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--Logo-->
                <div class="float-left">
                    <a href="/#main" class="header-logo"><img src="img/logo/logo_2.png" style="width: 190px; height: 40px" alt=""></a>
                </div>
                <!--Menu-->
                <div class="float-right">
                    {% block nav %}
                        <nav class="main-menu multi-page-menu text-black">
                            <ul>
                                <!--<li class="active"><a href="index.html.twig">Главная</a>
                                    <ul class="sub-menu">
                                        <li class="active"><a href="index.html.twig">Скупка</a></li>
                                        <li><a href="rules.html.twig">Продажа</a></li>
                                        <li><a href="corporate-3.html">Правила</a></li>
                                    </ul>
                                </li>-->
                                <li><a href="/#main">Главная</a></li>
                                <li><a href="/#skupka">Скупка</a></li>
                                <li><a href="/rules">Правила</a></li>
                                <li><a href="/#about_us">О нас</a></li>
                                <li><a href="/#contact">Контакты</a></li>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="/admin">Админ панель</a></li>
                                    <li><a href="/logout">Выйти</a></li>
                                {% else %}
                                    <li><a href="/login">Войти</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endblock %}
                    <!--<a href="#" class="btn btn-border-gradient  btn-hover-gradient">buy now</a>-->
                </div>
                <!--Mobile Menu-->
                <div class="mobile-menu multi-page text-black"></div>
            </div>
        </div>
    </div>
</div>
<!--Corporate About Section 1-->
<div class="co-about-section-1 section pt-140 pb-100">
    <a name="about_us" style="display:block;margin-bottom:70px; margin-top:-50px"></a>
    <div class="container">

        <div class="row">
            <!--About Image-->
            <div class="col-md-6 col-xs-12 float-right mb-40">

                <div class="co-about-image-1">
                    <img src="img/corporate/about/1.png" alt="">
                </div>

            </div>
            <!--About Content-->
            <div class="col-md-6 col-xs-12 mb-40">

                <div class="co-about-content-1">
                    <p style="text-align: center;">П Р А В И Л А</p>
                    <p style="text-align: center;">скупки у граждан ювелирных и других бытовых изделий из драгоценных металлов и драгоценных камней и лома таких изделий</p>
                    <p>1. Настоящие Правила устанавливают порядок скупки организациями независимо от организационно-правовой формы и индивидуальными предпринимателями (далее именуются &#8212; скупщик) у граждан (далее именуются &#8212; сдатчик) находящихся в их собственности ювелирных и других бытовых изделий из драгоценных металлов и драгоценных камней и лома таких изделий.</p>
                    <p>2. Скупщик обязан иметь лицензию на скупку у граждан ювелирных и других бытовых изделий из драгоценных металлов и драгоценных камней и лома таких изделий (далее именуются &#8212; ценности), выданную в установленном порядке.</p>
                    <p>3. Скупщик должен располагать необходимыми помещениями, оборудованием, инвентарем и системой охраны помещений, обеспечивать в соответствии с установленными требованиями оформление, учет, хранение скупаемых ценностей и необходимые условия для обслуживания сдатчиков, а также выполнять обязательные требования государственных стандартов, экологических, санитарно-эпидемиологических, гигиенических, противопожарных и других правил и норм.</p>
                    <p>4. Для проведения операций по приему и опробованию ценностей скупщик должен иметь:</p>
                    <p>а) весовое и иное соответствующее оборудование, а также необходимые инструменты;</p>
                    <p>б) реактивы, необходимые для определения наименования и пробы драгоценных металлов в изделиях и ломе.</p>
                    <p>5. Организация-скупщик должна иметь экспертов, обладающих соответствующей квалификацией в вопросах экспертизы и оценки ценностей.</p>
                    <p>Индивидуальный предприниматель-скупщик должен иметь необходимую квалификацию в вопросах экспертизы и оценки ценностей.</p>
                    <p>6. Скупщик обязан довести до сведения сдатчика:</p>
                    <p>а) фирменное наименование (наименование) своей организации, место ее нахождения и режим работы, индивидуальный предприниматель &#8212; информацию о государственной регистрации и наименовании зарегистрировавшего его органа;</p>
                    <p>б) данные о номере и сроке действия лицензии на скупку ценностей, о выдавшем ее органе;</p>
                    <p>в) сведения о документах, устанавливающих требования к клеймению ценностей, их приему и оформлению;</p>
                    <p>г) настоящие Правила;</p>
                    <p>д) сведения об органах, осуществляющих контроль за соблюдением настоящих Правил.</p>
                    <p>Указанная информация помещается в удобных для ознакомления местах.</p>
                    <p>7. Прием ценностей в скупку осуществляется независимо от наличия на них именников изготовителей и оттисков государственных пробирных клейм, а памятных и юбилейных (именных) медалей &#8212; по предъявлении сдатчиком соответствующих удостоверений на право владения такими медалями.</p>
                    <p>8. Расчеты со сдатчиками ценностей производятся на договорной основе.</p>
                    <p>9. Не подлежат скупке:</p>
                    <p>а) алмазное сырье и полуфабрикаты;</p>
                    <p>б) драгоценные металлы в самородном и аффинированном виде, а также в сырье, сплавах, полуфабрикатах, промышленных продуктах, химических соединениях и отходах производства и потребления;</p>
                    <p>в) полуфабрикаты ювелирного и зубопротезного производства (кроме коронок и дисков);</p>
                    <p>г) изделия производственно-технического назначения из золота, платины, палладия и серебра (пластины, проволока, контакты, лабораторная посуда и др.);</p>
                    <p>д) драгоценные камни &#8212; рубины, сапфиры, изумруды, александриты, а также природный жемчуг в необработанном виде;</p>
                    <p>е) ордена и медали, кроме памятных и юбилейных (именных), содержащие драгоценные металлы;</p>
                    <p>ж) изделия, содержащие драгоценные металлы и драгоценные камни и изъятые из гражданского оборота или ограниченные в обороте (холодное, огнестрельное оружие с отделкой и др.).</p>
                    <p>10. Все операции, связанные со скупкой ценностей (определение наименования драгоценных металлов и драгоценных камней, определение пробы драгоценного металла, взвешивание, удаление штифтов и др.), должны быть произведены в присутствии сдатчика методами, позволяющими не нарушать целости ценностей.</p>
                    <p>11. Взвешивание ценностей производится с точностью:</p>
                    <p>изделий из золота, платины и палладия &#8212; до 0,01 грамма;</p>
                    <p>изделий из серебра &#8212; до 0,1 грамма;</p>
                    <p>изделий из драгоценных камней без оправы &#8212; до 0,01 карата.</p>
                    <p>Масса драгоценных камней, которые при скупке не могут быть выкреплены из изделий или которые нецелесообразно выкреплять из изделия, определяется приборами с точностью до 0,1 карата.</p>
                    <p>Сдатчику должна быть предоставлена возможность убедиться в правильности определения массы сдаваемых им ценностей. Скупщик несет ответственность за правильность оценки принимаемых ценностей в соответствии с законодательством Российской Федерации.</p>
                    <p>12. При согласии сдатчика с оценкой принимаемых ценностей скупщик выдает сдатчику для выплаты причитающейся ему суммы квитанцию в 2 экземплярах, подписанную скупщиком и сдатчиком. После выплаты сдатчику причитающейся суммы ему передается 1 экземпляр квитанции со штампом &#171;оплачено&#187;.</p>
                    <p>13. В квитанции указываются:</p>
                    <p>а) наименование организации или фамилия и инициалы индивидуального предпринимателя &#8212; скупщика;</p>
                    <p>б) фамилия и инициалы сдатчика с указанием данных документа, удостоверяющего его личность;</p>
                    <p>в) наименование изделия, частей изделия и их количество, описание оттисков именника (для дореволюционных изделий &#8212; оттиска именника мастера) и пробирного клейма (для импортных изделий &#8212; оттиска импортного клейма);</p>
                    <p>г) наименование драгоценных металлов, проба, масса, договорная цена за грамм и стоимость;</p>
                    <p>д) наименование драгоценных камней, их количество и масса, договорная цена за карат, стоимость, в том числе в отношении:</p>
                    <p>бриллиантов крупных (от одного карата и выше), средних (от 0,30 до 0,99 карата), изумрудов, сапфиров, рубинов, александритов &#8212; также их размерно-весовая группа, группа цвета и чистоты;</p>
                    <p>алмазов огранки типа &#171;Роза&#187;, бриллиантов мелких (до 0,29 карата) и бриллиантов упрощенной огранки &#8212; также их группа цвета и чистоты;</p>
                    <p>жемчуга природного и культивированного &#8212; количество жемчужин и их масса;</p>
                    <p>е) общая масса изделия;</p>
                    <p>ж) сумма, подлежащая выплате сдатчику ценностей.</p>
                    <p>14. Принятые ценности после их оплаты возврату не подлежат.</p>
                    <p>15. Контроль за соблюдением настоящих правил осуществляют уполномоченные в соответствии с законодательством Российской Федерации федеральные органы исполнительной власти и их территориальные органы.</p>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="co-mission-section-1 section pt-140">
    <div id="map" style="width: 100%; height: 600px"></div>
</div>
<!--Corporate Footer Section 1-->
<div class="co-footer-section-1 section bg-dark-light pt-120 pb-80">

    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12 mb-40" style="width: 50%">
                <div class="co-footer-widget-1">
                    <a href="/#main" class="header-logo"><img src="img/logo/logo_white.png" style="width: 200px; height: 40px" alt=""></a>
                    <p>Наши cпециалисты найдут индивидуальный подход к каждому клиенту и помогут Вам совершить любые операции с драгметаллами, будь то покупка золота (платины) либо продажа серебряных украшений и мерных слитков.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 mb-40" style="width: 50%">
                <div class="co-footer-widget-1 widget-contact">
                    <h4 class="title">Наши контакты</h4>
                    <ul>
                        <li><span>Адрес :</span> г. Новосибирск. Красный проспект ,157</li>
                        <li><span>Email :</span> <a href="#">ostrovsokrov@bk.ru</a></li>
                        <li><span>Телефон :</span> <a href="#">+7(923)154-05-00</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="co-footer-bottom-1 section bg-dark">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="co-copyright-1 text-center">
                    <p>2019</p>
                </div>
            </div>

        </div>
    </div>
</div>




<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jQuery latest version -->
<script src="{{ asset('js/vendor/jquery-3.1.1.min.js') }}"></script>
<!-- Bootstrap js -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Plugins js -->
<script src="{{ asset('js/plugins.js') }}"></script>
<!-- Ajax Mail js -->
<script src="{{ asset('js/ajax-mail.js') }}"></script>
<!-- Main js -->
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('https://maps.api.2gis.ru/2.0/loader.js?pkg=full') }}"></script>

<script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [55.058088, 82.912456],
            zoom: 18,
            scrollWheelZoom: false
        });
        DG.marker([55.058088, 82.912456]).addTo(map).bindPopup('Остров сокровищ');
    });
</script>


</body>

</html>